{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"> </script>
  <title>Protocolo SNMP - Framework</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Protocolo SNMP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-5 col-md-5">

        <div class="card my-2">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a id="firstLink" class="nav-link active" href="#">Mensagem SNMP</a>
              </li>
              <li class="nav-item">
                <a id="secondLink" class="nav-link">Monitoramento de dispositivo</a>
              </li>
            </ul>
          </div>
        
          <div class="card-body">
            <form id="snmp-form" class="snmp-form" action="" method="post">
            {% csrf_token %} 
              <h4 class="my-4">Tipo do alvo</h1>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="notebookRadio" name="hardwareTypeRadio" class="custom-control-input" value="notebook" required>
                <label class="custom-control-label" for="notebookRadio">Notebook</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="mobileRadio" name="hardwareTypeRadio" class="custom-control-input" value="mobile" required>
                <label class="custom-control-label" for="mobileRadio">Mobile</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="routerRadio" name="hardwareTypeRadio" class="custom-control-input" value="router" required>
                <label class="custom-control-label" for="routerRadio">Roteador</label>
              </div>
              <span class="badge badge-pill badge-info" id="portaAlvoBadge"></span>

              <h4 class="my-4">IP do alvo</h1>
              <input class="form-control-md" pattern="(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)_*(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)_*){3}" type="text" placeholder="xxx.xxx.xxx.xxx" id="ip" required>

              <h4 class="my-4">Community</h1>
              <input id="community" class="form-control" type="text" readonly value="Public" required>

              <div id="contentJustInFirstTab">
                <h4 class="my-4">Object Identifier</h1>
                <div class="my-4"> 
                  <div id="digitOidDiv"> 
                    <select class="selectpicker" data-live-search="true" data-dropup-auto="false" required>
                      <option value=""></option>
                      {% for object in objects %}
                      <option value="{{object.objectId}}" data-subtext="{{object.objectType}}">{{object.objectId}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="my-4 snmp-submit">
                <button id="sendButton" type="submit" class="btn btn-primary mb-2">Enviar</button>
              </div> 
            </form>
          </div>
        </div>

      </div>

      <div class="col-lg-7 col-md-7">

        <div class="row">

          <div class="col-lg-12 col-md-12 mb-12">
            <div id="monitoringChartDiv">
              <canvas id="myChart"></canvas>
            </div>

            <div id="snmpResponseDiv" class="card h-100 my-2">
              <div class="card-body">
                <h4 class="card-title text-center">
                  <span id="loadingSending">Waiting the user action</span>
                </h4>
                {% comment %} <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p> {% endcomment %}
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Protocolo SNMP - Framework construído em 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- My Main.js -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- carregando plugin mask -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

  <!-- Select component - Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

  <!-- Select component - Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>

</html>
